:root {
  --primary-font: Arial, Helvetica, sans-serif;
  --grey: #bcceeb;
  --grey-hover: white;
  --dark-blue: #013487;
  --light-blue:#4373c0;
}

.cardStack {
  display: grid;
  grid-template-columns: 1.5fr 3fr 1fr 1.5fr;
  grid-template-rows: 1fr 3fr 1fr 1fr;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 15%;
}

.cardFront {
  z-index: 2;
  display: grid;
  background-color: var(--grey);
  color: var(--dark-blue);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  font-family: var(--primary-font);
  border-radius: 15px;
  grid-column: 1/4;
  grid-row: 1/3;
  height: 260px;
}

img {
  grid-column: 2;
  grid-row: 1;
  padding-left: 100px;
  padding-top: 10px;
  height: 70px;
}

.numberInput {
  grid-column: 1;
  grid-row: 2;
  padding-left: 30px;
  margin-left: 15px;
}

.numberButton {
    grid-column: span 1 / 4;
    width: 180%;
}

.holderInput {
  grid-column: 1;
  grid-row: 3;
  padding-left: 30px;
  margin-left: 15px;
}

.holderButton {
    grid-column: 1 / 2;
    width: 130%;
}

.expirationInput {
  grid-column: 2;
  grid-row: 3;
  padding-left: 10px;
  padding-bottom: 20px;
  margin-left: 60px;
}

.expirationButton {
    width: 25px;
}

.cardBack {
  z-index: 1;
  display: grid;
  background-color: var(--grey);
  color: var(--dark-blue);
  font-family: var(--primary-font);
  border-radius: 15px;
  grid-column: 2/5;
  grid-row: span 2 / 4;
}

div {
    background-color: var(--light-blue);
    width: 100%;
    grid-column: 4/5;
    grid-row: 2;
}

.backInput {
  margin-right: 15px;
  text-align: right;
  vertical-align: text-bottom;
  grid-column: 4/5;
  grid-row: 5;
}

.backinputButton {
    width: 70px;
}

.submitButton {
  background-color: var(--dark-blue);
  color: var(--grey-hover);
  font-size: 20px;
  border: none;
  border-radius: 5px;
  width: 90px;
  height: 40px;
  margin-top: 10px;
  grid-column: 4/5;
  grid-row: 4/5;
}

.submitButton:hover {
  background-color: var(--light-blue);
  color: var(--grey);
}