@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
:root {
  --primary-color: #1b98e0;
  --secondary-color: #59c3c3;
  --text-dark: #333;
  --text-light: #ebebeb;
  --primary-font: Arial, Helvetica, sans-serif;
  --secondary-font: "Amatic SC";
}

body {
  font-family: var(--primary-font);
}

main {
  margin: 100px;
}

header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 5%;
  padding-bottom: 0%;
}

h1 {
  font-size: 70px;
  font-family: var(--secondary-font);
}

.headerImg {
  width: 120px;
}

main {
  display: block;
  justify-content: center;
  margin-top: 0%;
}

.searchBar {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

#searchInput {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}

#searchButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

#searchButton img {
  width: 24px;
  height: 24px;
}

#searchButton img:hover {
  filter: brightness(1.2);
}

footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 5%;
}

.flaticonLink {
  color: var(--primary-color);
  text-decoration: none;
}

.recipeDisplay {
  border: var(--text-dark);
  border-style: solid;
  padding: 1%;
  width: 90%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.recipeImg {
  margin-top: 3%;
}

.recipeTag {
  font-family: var(--primary-font);
  color: var(--text-dark);
  display: inline-block;
  padding: 10px 15px;
  border: 1px solid var(--text-dark);
  border-radius: 5px;
  word-wrap: break-word;
}

.recipeName {
  font-family: var(--secondary-font);
  color: var(--primary-color);
  margin-top: 10px;
  margin-left: 20px;
  display: flex;
  align-items: flex-start;
  text-align: left;
}

.recipeRating {
  margin-top: -40px;
  margin-left: 20px;
  display: flex;
  align-items: flex-start;
}

.recipeDescription {
  text-align: left;
  margin-left: 20px;
}

@media screen and (min-width: 950px) {
  .social {
    position: absolute;
    right: 0;
    margin-right: 155px;
  }

  .flaticonLink {
    position: absolute;
    left: 0;
    margin-left: 155px;
  }

  footer img {
    width: 40px;
  }

  .recipeDisplay {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .recipeImg {
    display: flex;
    align-items: left;
    max-width: 500px;
    grid-column: 1;
  }

  .secondColumn {
    grid-column-start: 2;
  }

  .recipeName {
    font-size: 50px;
    grid-column-start: 2;
    font-size: 200%;
  }

  .recipeTag {
    font-family: var(--primary-font);
    color: var(--text-dark);
    display: inline-block;
    padding: 10px 15px;
    border: 1px solid var(--text-dark);
    border-radius: 5px;
    word-wrap: break-word;
  }

  .sectionTag {
    grid-column: 2;
    grid-column-start: 2;
    margin-left: 20px;
    display: flex;
    align-items: flex-start;
  }

  .recipeRating {
    grid-column-start: 2;
  }

  .recipeDescription {
    grid-column-start: 2;
  }
}

@media screen and (max-width: 950px) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
  }

  .social {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 2%;
  }

  .flaticonLink {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  footer img {
    width: 50px;
    margin: 4px;
  }

  .recipeName {
    font-size: 300%;
  }

  .sectionTag {
    margin-left: 20px;
    display: flex;
    align-items: flex-start;
  }

  .recipeImg {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .recipeDescription {
    visibility: hidden;
  }
}

@media screen and (max-width: 480px) {
  .sectionTag {
    margin-left: 0px;
  }
}