@import url("https://fonts.googleapis.com/css2?family=family=Mooli&display=swap");
:root {
  --main-color: #52489c;
  --text-color: #ffffff;
  --hover-color: #dfe6e8;
  --primary-font: Arial, Helvetica,sans-serif;
  --secondary-font: Mooli, san-serif;
}

html {
  font-family: var(--primary-font);
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--main-color);
  color: var(--text-color);
  column-count: 2;
  font-size: 35px;
  letter-spacing: 3px;
}

h1 {
  font-family: var(--primary-font);
  margin-right: 15%;
  margin-left: 15%;
}

nav {
  background-color: var(--main-color);
  line-height: 50px;
  padding-top: 1%;
  padding-bottom: 1%;
}

li {
  list-style-type: none;
  font-size: 20px;
}

a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 25px;
}

a:hover {
  color: var(--hover-color);
  border-style: solid;
}

.card {
  display: grid;
  grid-column: 1;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  background-color: ;
}

p {
  font-size: 20px;
}

.heading {
  display: none;
}


#menu {
  position: absolute;
  top: 8px;
  right: 16px;
}

#menu::before{
  content:"☰";
}

#menu.open::before{
  content: "X";
}

.open li {
  display: block;
}

footer {
  display: grid;
  grid-column: 1;
  text-align: center;
  background-color: var(--main-color);
  color: var(--text-color);
  font-size: 20px;
}
