@media (min-width: 800px) {
    #menu {
      display: none;
    }
  
    nav {
      line-height: 50px;
      padding-top: 1%;
      padding-bottom: 1%;
    }
  
    .heading {
      display: flex;
      justify-content: space-evenly;
    }
  }

  .menu_text {
    background-color: var(--main-color);
    display: flex;
  }