:root {
    --main-color: #B1B9FB;
    --light-accent: #D7DBFE;
    --dark-accent: #5161F6;
    --font-color: #010528;
    --heading-font: Outfit, sans-serif;
    --paragraph-font: Commissioner, "Trebuchet MS", sans-serif;
  }

  