@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Outfit:wght@500&display=swap");

:root {
  --primary-color: #010528;
  --secondary-color: #d7dbfe;
  --accent1-color: #b1b9fb;
  --accent2-color: #5161f6;
  --heading-font: Outfit, sans-serif;
  --paragraph-font: Commissioner, "Trebuchet MS", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  line-height: 1.6;
}

.socialButton_about {
  width: 15%;
  border: none;
  padding: 0;
  text-decoration: none;
  border-radius: 30%;
}

main {
  text-align: center;
  margin: 5%;
  margin-left: 20%;
  margin-right: 20%;
}

h1 {
  font-family: var(--heading-font);
  text-align: left;
  margin-left: 5%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}

p,
span {
  font-family: var(--paragraph-font);
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: left;
}

footer {
  background-color: var(--accent2-color);
  font-family: var(--heading-font);
  color: white;
}

.footer_text {
  font-family: var(--heading-font);
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

/* Color theme changes */

body[data-theme="dark"] {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

body[data-theme="light"] {
  background-color: white;
  color: black;
}

body[data-theme="dark"] .navBar {
  color: var(--secondary-color); 
}

body[data-theme="light"] .navBar {
  color: black;
}

body[data-theme="dark"] .navBar:hover {
  color: var(--accent2-color);
}

body[data-theme="light"] .navBar:hover .changeToggle {
  color: var(--accent2-color);
}

body[data-theme="dark"] #changeToggle {
  color: black;
}