@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Outfit:wght@500&display=swap');

:root {
  --primary-color: #010528;
  --secondary-color: #D7DBFE;
  --accent1-color: #B1B9FB;
  --accent2-color: #5161F6;
  --heading-font: Outfit, sans-serif;
  --paragraph-font: Commissioner, "Trebuchet MS", sans-serif;
}

@media (max-width: 500px) {  
  .socialImg {
    width: 18px;
    height: 18px;
  }

  .navBar {
    font-size: 12px;
  }

  .container {
    margin-top: 10%;
  }

  .text1 {
    animation: none;
  }
  
  .text2 {
    animation: none;
  }
}

@media (max-width: 768px) {
  .mission_title {
    padding-top: 100%;
  }

  .socialButton {
    margin: 10px 5px;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  nav ul li {
    margin: 10px 0;
  }
}

@media (max-width: 680px) {
  .mission_title {
    margin-top: 20%;
  }
}

@media (max-width: 800px) {
  .socialButton {
    width: 15%;
  }

  .socialImg {
    width: 20px;
    height: 20px;
  }

  .socialImg:hover {
    width: 35%;
  }

  .navBar {
    font-size: 150%;
  }

  .container {
    width: 100%;
    height: 20px;
    font-size: 100%;
    margin-bottom: 20%;
  }
  
  .text1 {
    animation: none;
  }
  
  .text2 {
    animation: none;
    margin-bottom: 20%;
  }

  .footer_text {
    font-size: 10%;
  }
}

@media (max-width: 900px) {
  .socialButton {
    display: none;
  }
  
  .socialImg {
    display: none;
  }

  .socialButton_about {
    width: 15%;
    background: white;
    border: none;
    padding: 0;
    text-decoration: none;
  }

  .socialImg_about {
    margin-top: 10px;
    padding: 0%;
    width: 50px;
  }

  a.socialButton_about {
    padding: -10px;
    align-items: center;
  }

  #missionStatement {
    display: unset;
  }
}

@media (max-width: 450px){
  #missionStatement{
    margin: 20px auto;
    font-size:small; 
  }
  .aboutImg{
    max-width: 300px;
    max-height: 350px;
    margin: 0 auto;
  }
}

@media (min-width: 900px) {
  .socialButton_about {
    display: none;
  }

  .socialImg_about {
    display: none;
  }

  a.socialButton_about {
    display: none;
  }
}

@media (max-width: 1000px) {
  .row {
    font-size: 80%;
  }

  #missionStatement {
    display: block;
    align-items: center;
    justify-content: center;
  } 

  .aboutImg{
    display: block;
    margin: 0 auto;
  }
}

@media (max-width: 1000px) {
  .text1 {
    font-size: 100%;
  }
}

@media (max-width: 1200px) {
  .text1 {
    font-size: 500%;
    transition: width 2s, height 4s;
  }
}

@media (max-width:1400px) {
  #mission_title {
    padding-bottom: 0;
  }

 #missionStatement p{
  font-size: large
 } 
}

@media (max-width:1075px) {
  #mission_title {
    padding-bottom: 0;
  }

 #missionStatement p{
  font-size:medium;
 } 
}