@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
:root {
--gold: #EFC69B;
--red: #AF1B3F;
--dark: #473144;
--body: Helvetica, Arial, sans-serif;
--headline: Lora, Impact, serif;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin-right: 8%;
    margin-left: 8%;
    border-top: solid;
    border-bottom: solid;
    border-color: var(--gold);
    
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: var(--dark);
    font-size: 25px;
    color: var(--red);
}

body {
    font-family: var(--body);
    margin: 0;
    color: var(--dark);
}

h1 {
    font-family: var(--headline);
    font-size: 50px;
    text-align: center;
}

h2 {
    font-family: var(--headline);
    color: var(--red);
}

p {
    font-family: var(--body);
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
    padding: 20px;
}

#leftSection {
    grid-column: 1;
    border-right: solid;
    border-color: var(--gold);
}

#middleSection {
    grid-column: 2;
    color: var(--dark);
    margin-right: 15%;
}

#rightAside {
    grid-column: 3;
    padding: 20px;
    color: var(--dark);
    border: solid;
    border-color: var(--gold);
}

.rating {
    margin-bottom: 160%;
}

.description {
    margin-bottom: 15%;
}

img {
    width: 100%;
    height: auto;
    max-width: 350px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: var(--dark);
    color: white;
}